.github/
.gitignore
.gitleaks.toml
.npmignore
.editorconfig
.nvmrc
test/
scripts/
coverage/
node_modules/
*.tgz
*.log
*.ady
*.avr
*.oca
*.mdat
measurements/
backups/
sessions/
reports/
filters/
profiles/
adapter-logs/
